## SBS-9: LH2, Full BB Field, 70% SBS Field : Set 97
/u/home/pdbforce/BBCal_replay/macros/Run_list/qa-sbs9-sbs70p_run_list_lh2_pass2.txt
endRunlist
bb.tr.n==1&&abs(bb.tr.vz[0])<0.08&&bb.gem.track.nhits>3&&abs(bb.tr.r_x[0]-0.9*bb.tr.r_th[0]-0.025)<0.3
endcut
macros_dir /u/home/pdbforce/BBCal_replay/macros # path to BBCal_replay/macros dir
pre_pass 2   # Replay pass to get prepared for
read_gain 0  # y/n(1/0), read old ADC gain form a file
E_beam 4.0268       #GeV
SBS_theta 22.5      #deg
HCAL_dist 11.0      #m
# Various clustering cuts 
sh_hit_threshold 0.02  #GeV
ps_hit_threshold 0.01  #GeV
sh_tmax_cut 10   #ns
ps_tmax_cut 10   #ns
sh_engFrac_cut 0
ps_engFrac_cut 0
Min_Event_Per_Channel 200
Min_MB_Ratio 0.1
# other cuts 
psE_cut 1 0.2      # y/n(1/0) cut_limit # psE>cut_limit
clusE_cut 0 0.0    # y/n(1/0) cut_limit # (psE+shE)>cut_limit
pmin_cut 1 1.2     # y/n(1/0) cut_limit # p>cut_limit
pmax_cut 0 1.8     # y/n(1/0) cut_limit # p<cut_limit
EovP_cut 0 0.3     # y/n(1/0) cut_limit # |E/p-1|<cut_limit
# elastic cuts (M=>mean, S=>sigma, nS=> n sigma cut)
W_cut 0 0.957 0.2 1                # y/n(1/0) M S nS
PovPel_cut 1 1.00067 0.01 6        # y/n(1/0) M S nS
pspot_cut 1 -1.18 0.096 2 -0.125 0.1 2 # y/n(1/0) dxM dxS ndxS dyM dyS ndyS
# histos
h_W 150 0. 3.       # nbin, min, max
h_Q2 150 0. 6.
h_PovPel 300 0.7 1.3
h_EovP 200 0.4 1.6
EovP_fit_width 1.5 # how many sigmas to include in the fit
h_clusE 250 0. 2.5
h_shE 200 0. 2.
h_psE 140 0. 1.4
h2_p 125 0.5 2.5
h2_pang 150 40. 55.
h2_p_coarse 8 1.2 2.0
h2_EovP 200 0.6 1.4
h2_dx 150 -2.5 1
h2_dy 200 -1 1
# offsets
p_rec_Offset 1.	# a.k.a fudge factor (FF)
Corr_Factor_Enrg_Calib_w_Cosmic 1.0  # a.k.a cF.
# calculate calibrated momentum
mom_calib 0 0.27027769 0.88540651 0. 0. 0. 10. 1.55 # y/n(1/0) A B C Avy Bvy GEMpitch bb_magdist

***** Log ***** 

# Set  Iter  Run		Comment
- ---  ----  ---		-------

# 97   0-2   SBS 70% runs:	W_mean=, W_sigma=, FF=1, cF=1
             13696,13687
# 97   3-5   SBS 70% runs:	
             13696,13683